<!doctype html>
<html>
    <head>
        <title>Softball Stats</title>
    </head>
    <body>
        <h1>Softball Stats</h1>
        <form method="POST" action="/transactions">
            <h2>Home team</h2>
            <p>Name: <input type="text" name="Name"></p>
            <p>Date: <input type="date" name="Date"></p>
            <p>Singles: <input type="number" name="Singles"></p>
            <p>Doubles: <input type="number" name="Doubles"></p>
            <p>Triples: <input type="number" name="Triples"></p>
            <p>Home_Runs: <input type="number" name="Home_Runs"></p>
            <p>Walks: <input type="number" name="Walks"></p>
            <p>At_Bats: <input type="number" name="At_Bats"></p>
            <p>Runs: <input type="number" name="Runs"></p>
            <p>Rbis: <input type="number" name="Rbis"></p>
            <ul>
            </ul>    
            <p><input type="submit" value="Save"></p>
        </form>
    </body>
</html>