<!doctype html>
<html lang="en:">
    <head>
        <link rel="stylesheet" href= "static/style.css"/>
    </head>
    <body>
        <h1>Softball Stats</h1>
        <form method="POST" action="/">
            <div class = "form__fieldset">
                <label for="name" class="form__label">Name:</label>
                <input type="text" name="name" id="name" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="date" class="form__label">Date:</label>
                <input type="date" name="date" id="date" class="form__input" />
            </div>      
            <div class = "form__fieldset">
                <label for="singles" class="form__label">Singles:</label>
                <input type="number" name="singles" id="singles" class="form__input" />
            </div>   
            <div class = "form__fieldset">
                <label for="doubles" class="form__label">Doubles:</label>
                <input type="number" name="doubles" id="doubles" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="triples" class="form__label">Triples:</label>
                <input type="number" name="triples" id="triples" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="home_runs" class="form__label">Home_runs:</label>
                <input type="number" name="home_runs" id="home_runs" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="walks" class="form__label">Walks:</label>
                <input type="number" name="walks" id="walks" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="at_bats" class="form__label">At_Bats:</label>
                <input type="number" name="at_bats" id="at_bats" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="runs" class="form__label">Runs:</label>
                <input type="number" name="runs" id="runs" class="form__input" />
            </div>
            <div class = "form__fieldset">
                <label for="rbis" class="form__label">Rbis:</label>
                <input type="number" name="rbis" id="rbis" class="form__input" />
            </div>
           
            <div class="form__fieldset">
                <input class="form__submit form__input" type="submit" value="Add transaction"/>
                    
        </form>
    </body>
</html>