<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content = "width = device-width, initial-scale=1.0" />
        <title>Transactions</title>
        
    </head>
    <body>
        <h1>Transactions</h1>
        <ol>
        {% for entry in entries %}
            <li>{{entry[0]}},{{entry[1]}},{{entry[2]}},{{entry[3]}},{{entry[4]}},{{entry[5]}},{{entry[6]}},{{entry[7]}},{{entry[8]}},{{entry[9]}}</li>
        {% endfor %}
        </ol>   
    <body>         
<html>        